.main-navbar {
    background: #5b5836;
    border-bottom: 1px solid #3b3923;
}
.navbar-header {
    padding: 10px 0px;
}
.container-fluid {
    max-width: 990px;
    margin: 0 auto;
}
ul.navbar-nav, .navbar-nav li a {
    color: white !important;
    font-size: 14px;
    margin: 0 10px;
    text-transform: uppercase;
}
#logo {
    padding: 18px 0px 21px 3px;
    text-align: left !important;
}
.container-navbar {
    background: url("https://ijnet.org/sites/all/themes/ijnet/images/bg_main_menu.png") repeat 0 0;
}
.container-header img {
    height: 70px;
    margin-bottom: 0px;
    border-radius: 0px;
}
.side-list {
    display: none;
}
.gallery-container {
    width: 100%;
    overflow-x: auto;
}
@media only screen and (min-width: 990px) {
    .side-list {
        display: block;
        position: fixed;
        width: 150px;
        margin-left: 20px;
        /*top: 45%;*/
    }
}
